In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [12]:
data = pd.DataFrame({
    'fruit':  ['apple', 'orange', 'pear', 'orange'],
    'color':  ['red', 'orange', 'green', 'green'],
    'weight': [5, 6, 3, 4]
})

In [3]:
data

    fruit   color  weight
0   apple     red       5
1  orange  orange       6
2    pear   green       3
3  orange   green       4

# One-hot-Encoding
One-hot-encoding of all catecorical features.

In [4]:
data_one_hot = pd.get_dummies(data)

In [5]:
data_one_hot

,weight,fruit_apple,fruit_orange,fruit_pear,color_green,color_orange,color_red
0,5,1,0,0,0,0,1
1,6,0,1,0,0,1,0
2,3,0,0,1,1,0,0
3,4,0,1,0,1,0,0

# Label Encoding
## Encode all object-types.

In [6]:
data_le = data.copy()
le = LabelEncoder()
for col in data.columns:
    if(data.dtypes[col]=='O'):
        le.fit(data[col])
        data_le[col] = le.transform(data[col])

In [7]:
data_le

   fruit  color  weight
0      0      2       5
1      1      1       6
2      2      0       3
3      1      0       4

## Inverse Transformation

In [8]:
data_le_inverse = data_le.copy()

In [9]:
le = LabelEncoder()
for col in data.columns:
    if(data.dtypes[col]=='O'):
        le.fit(data[col])
        data_le_inverse[col] = le.inverse_transform(data_le[col])

In [10]:
data_le_inverse

    fruit   color  weight
0   apple     red       5
1  orange  orange       6
2    pear   green       3
3  orange   green       4

# Mixed One-Hot- and Label-Encoding
At first we encode the feature fruit by label-encoding. After that we encode the feature color by one-hot-encoding.

In [11]:
data_copy = data.copy()
le = LabelEncoder()
le.fit(data_copy['fruit'])
data_copy['fruit'] = le.transform(data_copy['fruit'])
data_copy = pd.get_dummies(data_copy)
data_copy

   fruit  weight  color_green  color_orange  color_red
0      0       5            0             0          1
1      1       6            0             1          0
2      2       3            1             0          0
3      1       4            1             0          0